#Liste of plateId, between "()", separed by ","
#Ex: PLATE=(P1 P2 ...) #all item are separated by " "
PLATE=
#Details of each plateId, defined as plateId=(R1.fq R2.fq dodeca.tsv metadata.tsv)
#Ex: P1=(R1-001.fq R2-001.fq dodeca-001.tsv metadata-001.tsv)
#Ex: P2=(R1-002.fq R2-002.fq dodeca-002.tsv metadata-002.tsv)
#WARNING: very important: the line must begin with the same value as writed in PLATE content

