#Warning! Do not change variable name
#Project id
PID=
#Data file
DATA=
#Multiplex (TRUE for multiplex, FALSE without multiplex (RNAseq)) [beware of uppercase!]
MULTIPLEX=
#Adaptator file
ADAP=
#Substractive library (PhiX)
SUBS=PhiX.fa
#Script Dir
SDIR=
#Path to nucl_gb.accession2taxid
NUCACC=
#Path to to file with definition for nuc
NUCDEF=
#Path to prot.accession2taxid
PROACC=
#Path to to file with definition for prot
PRODEF=
#Path to fullnamelineage.dmp
DBLINEAGE=
#Cluster Conffile
CONF=
