#AGAP - SGE Scheduler
SCALL=
SPARAM=
MULTICPU=
MULTIMEMORY=
SPARAM_MULTICPU=
STASKARRAY=
SMAXTASK=
SRENAME=

SMAXSIMJOB=
SMAXARRAYSIZE=

STASKID=
SPSEUDOTASKID=

VIRNTDB=
ALLNTDB=
VIRPTDB=
ALLPTDB=

VIRPTDB_DIAMOND=
ALLPTDB_DIAMOND=
